# Environments
env/

# Editors
.vscode/

# Data
cases_confirmed.csv
cases_death.csv
cases_recovered.csv
cases_confirmed_us.csv
cases_death_us.csv

# cache
__pycache__/

# 
ideas.md

# bokeh output
bokeh.html
*.bokeh

# shell scripts
update.sh